<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - haver</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/haver.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid d-flex align-items-center">
        <div class="logo-container me-3">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/Images/logo-haver.png" alt="Logo for Haver">
            </a>
        </div>

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="Index"><span class="icon">➤ </span> Customer</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Engineer" asp-action="Index"><span class="icon">➤</span> Engineer</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Machine" asp-action="Index"><span class="icon">➤</span> Machine</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Note" asp-action="Index"><span class="icon">➤</span> Notes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="PackageRelease" asp-action="Index"><span class="icon">➤</span> Package Release</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Vendor" asp-action="Index"><span class="icon">➤</span> Vendor</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="SalesOrder" asp-action="Index"><span class="icon">➤</span> Sales Order</a></li>
                    </ul>
                </li>
            </ul>

            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - haver - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 1000;
    width: 50px;
    height: auto;
}

body {
    color: #1c335e;
}

a {
    color: #1c335e;
    text-decoration: none;
}

a:hover {
    color: #2a497b;
}

.navbar-nav .dropdown-toggle {
    color: #1c335e;
    text-decoration: none;
}

.custom-dropdown {
    background-color: #1c335e;
    border-radius: 5px;
    padding: 10px;
    min-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-dropdown .dropdown-item {
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #2a497b;
    color: white;
}

.custom-dropdown .dropdown-divider {
    border-color: rgba(255, 255, 255, 1);
}

</style>
