@model haver.Models.MachineType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machine Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">Sales Order(s)</dt>
        <dd class="col-md-3">
            @{
                var salesOrders = Model.Machines.Select(m => m.SalesOrder).Distinct().ToList();
                int orderCount = salesOrders.Count;

                if (orderCount > 0)
                {
                    string firstOrder = salesOrders.FirstOrDefault()?.OrderNumber ?? "Unknown";

                    if (orderCount > 1)
                    {
                        <a class="sales-order-list text-info" role="button" data-bs-toggle="collapse"
                           href="#collapseOrders@(Model.ID)" aria-expanded="false"
                           aria-controls="collapseOrders@(Model.ID)">
                            @firstOrder <span class="badge bg-info">@orderCount</span>
                        </a>
                        <div class="collapse" id="collapseOrders@(Model.ID)">
                            @foreach (var order in salesOrders.Skip(1))
                            {
                                <span>@order.OrderNumber <br /></span>
                            }
                        </div>
                    }
                    else
                    {
                        @firstOrder
                    }
                }
                else
                {
                    <span class="text-muted">No Sales Orders linked to this Machine Type</span>
                }
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
