@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<head>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
</head>
<nav class="navbar">
    <div class="navbar-text">WELCOME</div>
    <img src="/Images/LOGO NIAGARA_SIDE SHIELD-BLUE.png" alt="Logo for Haver" class="logo"  /> 
</nav>



<div class="login-container">
 

    <section class="login-form">
        <form id="account" method="post">
            <h2>Login</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                <label for="Input.Email">Email</label>
                <br />
                <span asp-validation-for="Input.Email" class="text-white"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="password" />
                <label for="Input.Password">Password</label>
                <br />
                <span asp-validation-for="Input.Password" class="text-white"></span>
            </div>

            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>

            <button id="login-submit" type="submit" class="btn-primary">Log in</button>

            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
