@model haver.Models.Note

<partial name="_ViewHeading" />

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PreOrder" class="control-label"></label>
                <input asp-for="PreOrder" class="form-control" />
                <span asp-validation-for="PreOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scope" class="control-label"></label>
                <input asp-for="Scope" class="form-control" />
                <span asp-validation-for="Scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssemblyHours" class="control-label"></label>
                <input asp-for="AssemblyHours" class="form-control" />
                <span asp-validation-for="AssemblyHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReworkHours" class="control-label"></label>
                <input asp-for="ReworkHours" class="form-control" />
                <span asp-validation-for="ReworkHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetHours" class="control-label"></label>
                <input asp-for="BudgetHours" class="form-control" />
                <span asp-validation-for="BudgetHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamePlate" class="control-label"></label>
                <input asp-for="NamePlate" class="form-control" />
                <span asp-validation-for="NamePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineScheduleID" class="control-label"></label>
                <select asp-for="MachineScheduleID" class ="form-control" asp-items="ViewBag.MachineScheduleID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
