@model haver.Models.GanttMilestone

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GanttMilestone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GanttTaskID" class="control-label"></label>
                <select asp-for="GanttTaskID" class ="form-control" asp-items="ViewBag.GanttTaskID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MilestoneName" class="control-label"></label>
                <select asp-for="MilestoneName" class="form-control"
                        asp-items="Html.GetEnumSelectList<miledates>()"></select>
                <span asp-validation-for="MilestoneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCompleted" class="control-label"></label>
                <input asp-for="DateCompleted" class="form-control" />
                <span asp-validation-for="DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

