@model haver.Models.SalesOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SalesOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDate" class="control-label"></label>
                <input asp-for="SoDate" class="form-control" />
                <span asp-validation-for="SoDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingTerms" class="control-label"></label>
                <input asp-for="ShippingTerms" class="form-control" />
                <span asp-validation-for="ShippingTerms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppDwgRcd" class="control-label"></label>
                <input asp-for="AppDwgRcd" class="form-control" />
                <span asp-validation-for="AppDwgRcd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DwgIsDt" class="control-label"></label>
                <input asp-for="DwgIsDt" class="form-control" />
                <span asp-validation-for="DwgIsDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoNumber" class="control-label"></label>
                <input asp-for="PoNumber" class="form-control" />
                <span asp-validation-for="PoNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorID" class="control-label"></label>
                <select asp-for="VendorID" class="form-control" asp-items="ViewBag.VendorID"></select>
                <span asp-validation-for="VendorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineScheduleID" class="control-label"></label>
                <select asp-for="MachineScheduleID" class="form-control" asp-items="ViewBag.MachineScheduleID"></select>
                <span asp-validation-for="MachineScheduleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
