@model haver.Models.Engineer

<div class="container-fluid bg-light">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12 py-4" style="background-color:#0C2340;">
            <h4 class="text-white" style="font-family: 'Avenir Heavy', sans-serif; font-size: 19px;">
                Edit Engineer
            </h4>
        </div>
    </div>

    <!-- Centered Form -->
    <div class="row py-4">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Edit" class="border p-4 shadow-sm" aria-label="Edit Engineer Information">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <h6 class="mb-4" style="color: #0C2340;"><b>Fields marked with <span class="text-danger">*</span> are required</b></h6>

                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="EngineerInitials" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            Initials <span class="text-danger">*</span>
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Enter the engineer's Initials."></i>
                        </label>
                        <input asp-for="EngineerInitials" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" placeholder="Enter Initials" />
                        <span asp-validation-for="EngineerInitials" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="FirstName" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            First Name <span class="text-danger">*</span>
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Edit the engineer's First name."></i>
                        </label>
                        <input asp-for="FirstName" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="LastName" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            Last Name <span class="text-danger">*</span>
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Edit the engineer's last name."></i>
                        </label>
                        <input asp-for="LastName" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label asp-for="Email" class="control-label"
                               style="font-family: 'Avenir Roman', sans-serif; color:#0C2340;">
                            Email <span class="text-danger">*</span>
                            <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Edit the engineer's email address."></i>
                        </label>
                        <input asp-for="Email" class="form-control"
                               style="border-color:#0C2340; font-family: 'Avenir Roman', sans-serif;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="d-flex flex-wrap justify-content-center gap-2">

                        <button type="submit" value="false" class="btn mr-2"
                                style="background-color:#0C2340; border-color:#0C2340; font-family: 'Avenir Heavy', sans-serif;">
                            <i class="fa-solid fa-floppy-disk"></i> Save
                        </button>

                        <a asp-action="Index" class="btn btn-secondary"
                           style="background-color:#6c757d; border-color:#6c757d; font-family: 'Avenir Heavy', sans-serif;">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}