@model haver.Models.Procurement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Procurement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="VendorID" class="control-label"></label>
                <select asp-for="VendorID" class="form-control" asp-items="ViewBag.VendorID"></select>
                <span asp-validation-for="VendorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineID" class="control-label"></label>
                <select asp-for="MachineID" class="form-control" asp-items="ViewBag.MachineID"></select>
                <span asp-validation-for="MachineID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PONumber" class="control-label"></label>
                <input asp-for="PONumber" class="form-control" />
                <span asp-validation-for="PONumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpDueDate" class="control-label"></label>
                <input asp-for="ExpDueDate" class="form-control" />
                <span asp-validation-for="ExpDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PODueDate" class="control-label"></label>
                <input asp-for="PODueDate" class="form-control" />
                <span asp-validation-for="PODueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PORcd" class="control-label"></label>
                <input asp-for="PORcd" class="form-control" />
                <span asp-validation-for="PORcd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="QualityICom" /> @Html.DisplayNameFor(model => model.QualityICom)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrRaised" /> @Html.DisplayNameFor(model => model.NcrRaised)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

