body {
    background: url('/Images/LOGO_NIAGARA_BRANCO_com_Fundo azul.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    backdrop-filter: blur(8px); /* Apply blur effect only to background */
    z-index: -1; /* Make sure the overlay is behind the form */
}


h1, h2, h3, p, label {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.form-control {
    background: none; 
    border: 2px solid #0C2340;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

    /* Placeholder color */
    .form-control::placeholder {
        color: #0C2340; /* Change the placeholder color */
    }

    /* Focus state */
    .form-control:focus {
        background: none;
        color: #0C2340;
        border-color: #0056b3;
    }


.form-floating {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #0C2340;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.text-danger {
    color: #ff5c5c !important;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lsec {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

    .lsec h2 {
        color: #0C2340;
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;
    }

.checkbox {
    margin-bottom: 15px;
}

    .checkbox label {
        color: #0C2340;
        font-size: 16px;
    }

#forgot-password {
    color: #0C2340;
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: none;
}

    #forgot-password:hover {
        text-decoration: underline;
    }
